/*  ===========================================================
             BANNIERE DE LA PAGE A PROPOS 
============================================================= */ 
.Propos-image{
 margin: 50px 100px 0 100px;
 height:223px;
 border-radius: 25px;
 background-image:linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../../Assets/BannerPropos.png);
 background-position: 50% 50%;
}
 @media(max-width:768px){
  .Propos-image{
    margin: 0 20px;
    background-size: contain;
    border-radius: 10px;
  }
 } 

/* ===============================================================
             BANNIERE DE LA PAGE HOME
===================================================================  */  
.Home-image{
 display:flex;
 align-items:center;
 justify-content:center;
 margin: 65px 100px 45px 100px;
 height:223px;
 border-radius: 25px;
 background-image:linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../../Assets/BannerHome.png);
 background-position: 50% 50%;
}

.Home-texte{
 color:white;
 font-size:48px;
 line-height: 68.45px;
 font-weight: 500;
 margin-left:10px;
}

 @media(max-width:768px){
   .Home-image{
    height:111px;
    margin: 0 20px;
    border-radius:10px;
   background-size: cover;
   }
   .Home-texte{
    font-size: 24px;
    line-height: 24px;
    padding: 0 20px;
    margin-right:70px;
    margin-left:0px;
   }
 }
